<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div th:if="${msg}" class="alert alert-primary" role="alert" th:text="${msg}">
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
<div class="row m-5">
    <div class="col-lg-4" th:each="service,s:${services}" th:if="${s.index < 3}">
        <div class="card" style="width: 18rem; height: 334px">
            <img th:src="@{'/getImg/'+${service.linkImg}}" height="180px" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" th:text="${service.serviceName}"></h5>
                <p class="card-text" th:text="${service.descriptionOtherConvenience}"></p>
                <a class="btn btn-primary" style="position: absolute; bottom: 4%" th:href="@{/service/showDetail/__${service.serviceId}__}" th:text="#{detail}">Detail</a>
            </div>
        </div>
    </div>
</div>
<div class="row m-5">
    <div class="col-lg-4" th:each="service,s:${services}" th:if="${s.index < 6 && s.index > 2}">
        <div class="card" style="width: 18rem; height: 334px">
            <img th:src="@{'/getImg/'+${service.linkImg}}" height="180px" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" th:text="${service.serviceName}"></h5>
                <p class="card-text" th:text="${service.descriptionOtherConvenience}"></p>
                <a class="btn btn-primary" style="position: absolute; bottom: 4%" th:href="@{/service/showDetail/__${service.serviceId}__}" th:text="#{detail}">Detail</a>
            </div>
        </div>
    </div>
</div>
<div class="row m-5">
    <div class="col-lg-4" th:each="service,s:${services}" th:if="${s.index < 9 && s.index > 5}">
        <div class="card" style="width: 18rem; height: 334px">
            <img th:src="@{'/getImg/'+${service.linkImg}}" height="180px" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" th:text="${service.serviceName}"></h5>
                <p class="card-text" th:text="${service.descriptionOtherConvenience}"></p>
                <a class="btn btn-primary" style="position: absolute; bottom: 4%" th:href="@{/service/showDetail/__${service.serviceId}__}" th:text="#{detail}">Detail</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3" th:if="${services}">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <input type="text" id="page" hidden="hidden" th:value="${services.number}">
                <li class="page-item">
                    <button class="page-link btnPrevious"
                       th:if="${services.hasPrevious()}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </button>
                </li>
                <li class="page-item active"><button class="page-link" th:text="${services.number + 1}"></button></li>
                <li class="page-item">
                    <button class="page-link btnNext"
                       th:if="${services.hasNext()}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.btnNext').click(function (event) {
            let page = parseInt($("#page").val()) + 1;
            $.ajax({
                url: "/service/pageService?page=" + page,
                type: "GET",
                success: function (result) {
                    $("#contentTable").html(result)
                }
            })
            event.preventDefault();
        })

        $('.btnPrevious').click(function (event) {
            let page = parseInt($("#page").val()) - 1;
            console.log(page);
            $.ajax({
                url: "/service/pageService?page=" + page,
                type: "GET",
                success: function (result) {
                    $("#contentTable").html(result)
                }
            })
            event.preventDefault();
        })
    })
</script>
