<div class="container-fluid" style="padding: 0">
  <div class="banner">
    <div class="banner-wrap">
      <div class="banner-img"></div>
      <div class="banner-text">
        <div class="banner-slogan" data-aos="fade-up"
             data-aos-anchor-placement="top-center">An Inimitable Legend of Hospitality</div>
        <div class="banner-title">GREAT PLACE TO SLOW DOWN</div>
        <div class="banner-subtitle">With its heritage dating back to 1999, Furama Resort redefines the luxury
          hospitality experience.
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row px-2 banner-search-booking">
        <div class="col-xl-6 search-booking-left">
          <div class="row">
            <div class="col-sm-6 px-2 date-picker-wrap">
              <mat-form-field appearance="fill">
                <mat-label>Check In</mat-label>
                <input matInput [matDatepicker]="pickerCheckIn">
                <mat-datepicker-toggle matSuffix [for]="pickerCheckIn"></mat-datepicker-toggle>
                <mat-datepicker #pickerCheckIn></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-6 px-2 date-picker-wrap">
              <mat-form-field appearance="fill">
                <mat-label>Check Out</mat-label>
                <input matInput [matDatepicker]="pickerCheckOut">
                <mat-datepicker-toggle matSuffix [for]="pickerCheckOut"></mat-datepicker-toggle>
                <mat-datepicker #pickerCheckOut></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-xl-6 search-booking-right">
          <div class="row">
            <div class="col-sm-4 px-2">
              <mat-form-field appearance="fill" style="max-width: 170px">
                <mat-label>Select service</mat-label>
                <mat-select>
                  <mat-option value="option">Villa</mat-option>
                  <mat-option value="option">Room</mat-option>
                  <mat-option value="option">House</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-4 px-2 ">
              <mat-form-field appearance="fill" style="max-width: 170px">
                <mat-label>Max people</mat-label>
                <mat-select>
                  <mat-option value="option">1</mat-option>
                  <mat-option value="option">2</mat-option>
                  <mat-option value="option">3</mat-option>
                  <mat-option value="option">5</mat-option>
                  <mat-option value="option">more</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-4 px-2">
              <button class="btn btn-outline-primary" style="height: 51px; width: 100%">BOOK NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="container">
      <div class="row blog-title title-bar">
        <h1 class="blog-main-title main-title">
          WELCOME TO FURAMA RESORT
        </h1>
        <div class="blog-main-excerpt main-excerpt">
          Overlooking the long stretch of wide white sand on Danang Beach, Furama Resort Danang is a gateway to three
          World Heritage Sites of Hoi An (20 minutes), My Son (90 minutes) and Hue (2 hours). The 196 rooms and suites
          plus 70 two to four bedroom pool villas feature tasteful décor, designed with traditional Vietnamese style and
          a touch of French colonial architecture and guarantee the Vietnam’s the most prestigious resort -counting
          royalty, presidents, movie stars and international business leaders among its celebrity guests.
        </div>
      </div>
      <div class="row mt-xl-0 body-blog">
        <div class="col-xl-6 body-blog-widget">
          <div class="body-blog-video">
            <div class="blog-video-widget">
              <div class="blog-video-wrap">
                <iframe src="https://www.youtube.com/embed/IjlT_4mvd-c" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 body-blog-content">
          <header>
            <h2 class="blog-content-title">
              THIS WORLD CLASS RESORT, FURAMA DANANG, REPUTABLE FOR BEING A CULINARY RESORT IN VIETNAM</h2>
          </header>
          <p class="blog-content-excerpt">
            "Overlooking the long stretch of wide white sand on Danang Beach, Furama Resort Danang is a gateway to three
            World Heritage Sites of Hoi An (20 minutes), My Son (90 minutes) and Hue (2 hours). The 198 rooms and suites
            plus 70 two to four bedroom pool villas feature tasteful décor, designed with traditional Vietnamese style
            and a touch of French colonial architecture and guarantee the Vietnam’s the most prestigious resort
            -counting royalty, presidents, movie stars and international business leaders among its celebrity guests."
          </p>
          <button class="btn btn-outline-primary"
                  style="min-width: 170px;min-height: 50px;padding: 0;border-radius: initial;">SHOW MORE
          </button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="body-gallery">
        <div class="row body-gallery-title gallery-title">
          <h1 class="gallery-main-title main-title">
            Hotel Master's Room
          </h1>
          <div class="gallery-main-excerpt main-excerpt">
            All 198 rooms & suites have polished timber floors, natural fabrics, comfortable cane furniture, plantation
            style shutters and ceiling fans. Each room also has its own balcony or spacious terrace providing complete
            privacy and with a superb view of the ocean, the tropical garden or the freshwater swimming lagoon pool.
          </div>
        </div>
        <div class="row gallery-content">
          <div class="col-md-8 gallery-content-item">
            <div class="gallery-content-item-widget">
              <img
                src="https://furamavietnam.com/wp-content/uploads/2018/03/Vietnam_Danang_Furama_Lagoon-Superior-twin-bed-F-370x239.jpg"
                alt="..." class="image">
              <div class="overlay">
                <div class="text">
                  <div class="gallery__item-price">$ 2,000</div>
                  <div class="gallery__item-name">
                    <p>King Suite Room</p>
                  </div>
                  <div class="gallery__item-read-more">
                    <p>Detail
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                           class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 gallery-content-item">
            <div class="gallery-content-item-widget">
              <img
                src="https://lyonhotel.webhotel.vn/assets/image/img32.jpg"
                alt="..." class="image" style="height: 372.05px;">
              <div class="overlay">
                <div class="text">
                  <div class="gallery__item-price">$ 2,000</div>
                  <div class="gallery__item-name">
                    <p>King Suite Room</p>
                  </div>
                  <div class="gallery__item-read-more">
                    <p>Detail
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                           class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 gallery-content-item">
            <div class="gallery-content-item-widget">
              <img
                src="https://lyonhotel.webhotel.vn/assets/image/eiffel.jpg"
                alt="..." class="image" style="height: 372.05px;">
              <div class="overlay">
                <div class="text">
                  <div class="gallery__item-price">$ 2,000</div>
                  <div class="gallery__item-name">
                    <p>King Suite Room</p>
                  </div>
                  <div class="gallery__item-read-more">
                    <p>Detail
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                           class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 gallery-content-item">
            <div class="gallery-content-item-widget">
              <img
                src="https://furamavietnam.com/wp-content/uploads/2018/03/Presidential-Suite-F-370x239.jpg"
                alt="..." class="image">
              <div class="overlay">
                <div class="text">
                  <div class="gallery__item-price">$ 2,000</div>
                  <div class="gallery__item-name">
                    <p>King Suite Room</p>
                  </div>
                  <div class="gallery__item-read-more">
                    <p>Detail
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                           class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gallery__show-room-wrap">
          <div class="gallery__show-rooms">
            <a href="#" class="btn btn-primary" style="background-color: #046056">VIEW ALL ROOMS</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid body__vip-services-wrap">
      <div class="container">
        <div class="row vip-services__title-bar title-bar">
          <h1 class="vip-services__main-title main-title">
            V.I.P Services
          </h1>
        </div>
        <div class="row vip-services__content">
          <div class="col-sm-4 vip-services__item">
            <div class="vip-services__item-img">
              <a href="#">
                <img src="https://furamavietnam.com/wp-content/uploads/2018/07/CULIRARY.jpg" alt="Luxury Restaurant">
              </a>
            </div>
            <div class="vip-services__item-title">
              <h2>
                <a href="#">CULINARY</a>
              </h2>
            </div>
            <div class="vip-services__item-excerpt">
              The resort’s culinary experience features a mixture of the authentic and locally inspired Vietnamese, Asian, Italian and other European cuisines plus the best imported steaks. The resort presents guests with varied gastronomic venues – the hip and breezy bar overlooking the beach, the exclusive Lagoon pool surrounded by a tropical garden, the true Italian flare offered at the Don Cipriani’s, the refined Asian touch at Café Indochine or the authentic central Vietnam cuisine at the Danaksara.
            </div>
          </div>
          <div class="col-sm-4 vip-services__item">
            <div class="vip-services__item-img">
              <a href="#">
                <img src="https://furamavietnam.com/wp-content/uploads/2018/10/02.-ICP-ICP_Furama_Danang_-Ball-Room-4.jpg" alt="MEETING & EVENT">
              </a>
            </div>
            <div class="vip-services__item-title">
              <h2>
                <a href="#">MEETING & EVENT</a>
              </h2>
            </div>
            <div class="vip-services__item-excerpt">
              A well-appointed International Convention Palace with ballrooms can accommodate up to 1,000 people in style, with another ten function rooms for 50 to 300 people each. A variety of cultural-themed parties on the beach or around the lagoon, in the ballrooms or outside the resort, with the surprising arrivals of VIPs from Helicopter landing on the resort’s own Helipad…
            </div>
          </div>
          <div class="col-sm-4 vip-services__item">
            <div class="vip-services__item-img">
              <a href="#">
                <img src="https://furamavietnam.com/wp-content/uploads/2018/07/RECREATION.jpg" alt="RECREATION">
              </a>
            </div>
            <div class="vip-services__item-title">
              <h2>
                <a href="#">RECREATION</a>
              </h2>
            </div>
            <div class="vip-services__item-excerpt">
              A full range of Water Sports will keep you busy. Stop by the Water Sport House where our experienced staff are waiting to assist or train you in the use of any of our equipment.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container body__offers" style="margin-top: 5%;">
      <div class="row offers__title-bar title-bar">
        <h1 class="offers__main-title main-title">OFFERS & DEAL</h1>
      </div>
      <div class="row offers__content" style="margin-top: 5%">
        <div class="col-sm-6 offers__item">
          <div class="offers__item-img">
            <a href="#">
              <img src="https://furamavietnam.com/wp-content/uploads/2021/06/pexels-daniel-torobekov-5694133.jpg" alt="Surfboard Lesson">
            </a>
          </div>
          <div class="offers__item-title">
            <a href="#">Surfboard Lesson</a>
          </div>
          <div class="offers__item-excerpt">
            30% discount on spa service and 10% on water sports and tour services.
            <br>
            Start from 30th June 2021 to 31st August 2021.
          </div>
          <div class="offers__item-link-more">
            <a href="">Learn More ></a>
            <i class="ti-angle-right"></i>
          </div>
        </div>
        <div class="col-sm-6 offers__item">
          <div class="offers__item-img">
            <a href="#">
              <img src="https://furamavietnam.com/wp-content/uploads/2021/04/BREATH-IN-THE-SUMMER-AIR-WITH-FURAMA-VIETJET-AIR-PACKAGE.jpg?id=15269" alt="Breath in The Summer Air with Furama & Vietjet Air Package!">
            </a>
          </div>
          <div class="offers__item-title">
            <a href="#">Breath in The Summer Air with Furama & Vietjet Air Package!</a>
          </div>
          <div class="offers__item-excerpt">
            The promotion is applicable to all Vietnamese and Expatriates, with a booking period and staying period from 01st April 2021 to 23rd December 2021.
          </div>
          <div class="offers__item-link-more">
            <a href="">Learn More ></a>
            <i class="ti-angle-right"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid body-search-booking">
      <div class="container">
        <div class="row px-2 banner-search-booking">
          <div class="col-xl-6 search-booking-left">
            <div class="row">
              <div class="col-sm-6 px-2 date-picker-wrap">
                <mat-form-field appearance="fill">
                  <mat-label>Check In</mat-label>
                  <input matInput [matDatepicker]="pickerCheckInBody">
                  <mat-datepicker-toggle matSuffix [for]="pickerCheckInBody"></mat-datepicker-toggle>
                  <mat-datepicker #pickerCheckInBody></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-sm-6 px-2 date-picker-wrap">
                <mat-form-field appearance="fill">
                  <mat-label>Check Out</mat-label>
                  <input matInput [matDatepicker]="pickerCheckOutBody">
                  <mat-datepicker-toggle matSuffix [for]="pickerCheckOutBody"></mat-datepicker-toggle>
                  <mat-datepicker #pickerCheckOutBody></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-xl-6 search-booking-right">
            <div class="row">
              <div class="col-sm-4 px-2">
                <mat-form-field appearance="fill" style="max-width: 170px">
                  <mat-label>Select service</mat-label>
                  <mat-select>
                    <mat-option value="option">Villa</mat-option>
                    <mat-option value="option">Room</mat-option>
                    <mat-option value="option">House</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-4 px-2 ">
                <mat-form-field appearance="fill" style="max-width: 170px">
                  <mat-label>Max people</mat-label>
                  <mat-select>
                    <mat-option value="option">1</mat-option>
                    <mat-option value="option">2</mat-option>
                    <mat-option value="option">3</mat-option>
                    <mat-option value="option">5</mat-option>
                    <mat-option value="option">more</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-4 px-2">
                <button class="btn btn-outline-primary" style="height: 51px; width: 100%">BOOK NOW</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
