<h1>Cập nhật thông tin sản phẩm</h1>
<form [formGroup]="productForm" (ngSubmit)="updateProduct(id)">
  <table class="table table-striped">
    <tr>
      <td class="table-primary">Mã sản phẩm:</td>
      <td class="table-primary"><input type="number" formControlName="id"></td>
    </tr>
    <tr>
      <td class="table-info">Tên sản phẩm:</td>
      <td class="table-info"><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td class="table-danger">Giá sản phẩm</td>
      <td class="table-danger"><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td class="table-success">Mô tả về sản phẩm</td>
      <td class="table-success"><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td></td>
      <td><button class="btn btn-info">Cập nhật</button></td>
    </tr>
  </table>
</form>
