<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="/create" th:object="${book}" method="post">
  <table border="0px">
    <tr>
      <td>Name book:</td>
      <td><input type="text" th:field="*{nameBook}"></td>
    </tr>
    <tr>
      <td>Books Remaining:</td>
      <td><input type="text" th:field="*{booksRemaining}"></td>
    </tr>
    <tr>
      <td><input type="submit" value="Submit"></td>
    </tr>
  </table>
</form>
</body>
</html>