<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="/giveBack">
  Nhập mã trả sách
  <input type="text" name="idRentalBook" >
  <input type="submit" value="submit">
</form>
<table border="1px">
  <tr>
    <th>Id</th>
    <th>Name book</th>
    <th>Books Remaining</th>
    <th>Id rental book</th>
    <th>Action</th>
  </tr>
  <tr th:each="b:${books}" >
    <td th:text="${b.idBook}"></td>
    <td th:text="${b.nameBook}"></td>
    <td th:text="${b.booksRemaining}"></td>
    <td>
      <span th:each="r:${b.rentalBookSet}" th:text="${r.id+' '}"></span>
    </td>
    <td><a th:href="@{/rentalBook/__${b.idBook}__}">Rental</a></td>
  </tr>
</table>
</body>
</html>