<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col" th:text="#{fullName}">Full name</th>
                <th scope="col" th:text="#{dateOfBirth}">Birth day</th>
                <th scope="col" th:text="#{idCard}">Id card</th>
                <th scope="col" th:text="#{phone}">Phone</th>
                <th scope="col" th:text="#{email}">Email</th>
                <th scope="col" th:text="#{address}">Address</th>
                <th scope="col" th:text="#{salary}">Salary</th>
                <th scope="col" th:text="#{position}">Position</th>
                <th scope="col" th:text="#{educationDegree}">Education degree</th>
                <th scope="col" th:text="#{division}">Division</th>
                <th scope="col" th:text="#{action}">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${employees}" th:each="e:${employees}" th:id="${e.employeeId}">
                <td th:text="${e.employeeId}"></td>
                <td th:text="${e.name}"></td>
                <td th:text="${e.birthday}"></td>
                <td th:text="${e.idCard}"></td>
                <td th:text="${e.phone}"></td>
                <td th:text="${e.email}"></td>
                <td th:text="${e.address}"></td>
                <td th:text="${e.salary}"></td>
                <td th:text="${e.position.name}"></td>
                <td th:text="${e.educationDegree.educationDegreeName}"></td>
                <td th:text="${e.division.divisionName}"></td>
                <td>
                    <a th:href="@{/employee/update/__${e.employeeId}__ }" class="btn btn-primary float-left" th:text="#{update}"></a>
                    <button type="button" class="btn btn-warning float-right" data-toggle="modal"
                            th:data-target="'#exampleModal'+${e.employeeId}" th:text="#{deleted}">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="'exampleModal'+${e.employeeId}" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirm deleted</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h5 th:text="'Do you agree to delete '+${e.name}+' customer ?'"></h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                    </button>
                                    <button class="btn btn-warning btnDelete" type="button" th:text="#{deleted}" >Xóa</button>
                                    <input type="text" hidden="hidden" th:value="${e.employeeId}">
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <input type="text" id="page" hidden="hidden" th:value="${employees.number}">
                <li class="page-item">
                    <button th:if="${employees.hasPrevious()}" class="page-link btnPrevious" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </button>
                </li>
                <li class="page-item active"><button class="page-link btnPageNow" th:text="${employees.number + 1}"></button></li>
                <li class="page-item">
                    <button class="page-link btnNext" th:if="${employees.hasNext()}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.btnDelete').click(function (event) {
            let id = $(this).next().val();
            $('#exampleModal' + id).modal('hide')
            $.ajax({
                url: "/employee/delete/" + id,
                type: "GET",
                success: function () {
                    $('#' + id).remove();
                }
            })
            event.preventDefault();
        })

        $('.btnNext').click(function (event) {
            let page = parseInt($("#page").val()) + 1;
            console.log(page);
            $.ajax({
                url: "/employee/tableEmployee?page=" + page,
                type: "GET",
                success: function (result) {
                    $("#contentTable").html(result)
                    console.log(result);
                }
            })
            event.preventDefault();
        })

        $('.btnPrevious').click(function (event) {
            let page = parseInt($("#page").val()) - 1;
            console.log(page);
            $.ajax({
                url: "/employee/tableEmployee?page=" + page,
                type: "GET",
                success: function (result) {
                    $("#contentTable").html(result)
                }
            })
            event.preventDefault();
        })
    })
</script>