<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div th:if="${msg}" class="alert alert-primary" role="alert" th:text="${msg}">
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col" th:text="#{customer}"></th>
                <th scope="col" th:text="#{service}"></th>
                <th scope="col" th:text="#{employee}"></th>
                <th scope="col" th:text="#{attach.service}"></th>
                <th scope="col" th:text="#{action}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${contracts}" th:each="c:${contracts}" th:id="${c.contractId}">
                <td th:text="${c.customer.customerName}"></td>
                <td th:text="${c.service.serviceName}"></td>
                <td th:text="${c.employee.name}"></td>
                <td>
                    <span th:each="d:${c.contractDetails}" th:text="${d.getAttachService().attachServiceName}+' '"></span>
                </td>
                <td>
                    <a th:href="@{/contract/edit/__${c.contractId}__}" class="btn btn-primary float-left">Edit</a>
                    <button type="button" class="btn btn-warning float-right" data-toggle="modal"
                            th:data-target="'#exampleModal'+${c.contractId}">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="'exampleModal'+${c.contractId}" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirm deleted</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h5 th:text="'Do you agree to delete '+${c.customer.customerName}+' customer ?'"></h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                    </button>
                                    <button class="btn btn-warning btnDelete" type="button" th:text="#{deleted}"></button>
                                    <input type="text" hidden="hidden" th:value="${c.contractId}">
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link btnPrevious"
                       th:if="${contracts.hasPrevious()}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" th:text="${contracts.number + 1}"></a></li>
                <li class="page-item">
                    <a class="page-link btnNext" th:if="${contracts.hasNext()}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#searchValue').keyup(function () {
            console.log($(this).val());
            $.ajax({
                url: "/contract/search/"+$(this).val(),
                type: "GET",
                success: function (result) {
                    $('#contentTable').html(result)
                }
            })
        })

        $('.btnDelete').click(function (event) {
            let id = $(this).next().val();
            $('#exampleModal' + id).modal('hide')
            $.ajax({
                url: "/contract/delete/" + id,
                type: "GET",
                success: function () {
                    $('#' + id).remove();
                }
            })
            event.preventDefault();
        })

        $('.btnNext').click(function (event) {
            let page = parseInt($("#page").val()) + 1;
            $.ajax({
                url: "/contract/tableContract?page=" + page,
                type: "GET",
                success: function (result) {
                    $("#contentTable").html(result)
                }
            })
            event.preventDefault();
        })

        $('.btnPrevious').click(function (event) {
            let page = parseInt($("#page").val()) - 1;
            console.log(page);
            $.ajax({
                url: "/contract/tableContract?page=" + page,
                type: "GET",
                success: function (result) {
                    $("#contentTable").html(result)
                }
            })
            event.preventDefault();
        })
    })
</script>