<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Furama</title>

</head>
<body>
<div class="header">
    <div class="content" data-aos="fade-right" data-aos-duration="2000">
        <h1>Welcome to <br> Furama Resort</h1>
    </div>

    <div class="wrap-login" data-aos="zoom-in-left" data-aos-duration="2000">
        <h2 class="text-center text-white">LOGIN</h2>
        <div class="form-login">
            <form name='f' class="mb-3" th:action="@{/login}" method="post">
                <label for="userName" class="text-white form-label">User Name</label>
                <input type="text" style="margin-bottom: 2vh" name="username" class="form-control" id="userName">
                <label for="pass" class="text-white form-label">Password</label>
                <input type="password" style="margin-bottom: 2vh" name="password" class="form-control" id="pass">
                <input type="checkbox" class="form-check-inline" id="checkBox" name="remember-me">
                <label for="checkBox" class="form-label">Remember me ?</label>
                <br>
                <input type="submit" class="btn btn-primary" value="LOGIN">
            </form>
        </div>
    </div>
</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>